/*
 This program is distributed under the terms of GPLv3
 Copyright 2010, Alessandro Arzilli
 */

* {
    font-family: sans-serif;
}

a {
    color: cyan;
}

body {
    background-color: #2D2828;
    color: #EAE8E9;
    font-size: 8pt;
}

.popup {
    background-color: #2D2828;
}

table {
    font-size: 8pt;
}

.prchange > td {
    padding-top: 10px;
    font-size: large;
    font-weight: bold;
}

.entry {
    background: none repeat scroll 0 0 #555555;
    border: 1px solid #444444;
}

.entry > td {
    padding: 4px;
}

.etitle {
    width: 65%;
    font-weight: bold;
}

.etitle > a {
    text-decoration: none;
    color: #EAE8E9
}

.prioritybutton {
    width: 60px;
    color: black;
    font-size: xx-small;
}

.priorityclass_now {
    background-color: green;
}
.priorityclass_later {
    background-color: yellow;
}
.priorityclass_timed {
    background-color: orange;
}
.priorityclass_done {
    background-color: lightgray;
}
.priorityclass_sticky {
    background-color: lightblue;
}
.priorityclass_notes {
    background-color: lightblue;
}

.screrror {
    color: red;
    font-weight: bold;
}