/*
 This program is distributed under the terms of GPLv3
 Copyright 2010, Alessandro Arzilli
 */

* {
    font-family: sans-serif;
}

table {
    font-size: 10pt;
}

.prchange > td {
    padding-top: 10px;
    font-size: large;
    font-weight: bold;
}

.entry {
    background: none repeat scroll 0 0 #F3F5FC;
    border: 1px solid #CCCCCC;
}

.entry > td {
    padding: 4px;
}

.etitle {
    width: 65%;
    font-weight: bold;
}
.epr {
}
.etime {
}

.etitle > a {
    text-decoration: none;
    color: black;
}

.priorityclass_now {
    width: 60px;
    background-color: lightgreen;
    color: black;
}
.priorityclass_later {
    width: 60px;
    background-color: yellow;
    color: black;
}
.priorityclass_timed {
    width: 60px;
    background-color: orange;
    color: black;
}
.priorityclass_done {
    width: 60px;
    background-color: lightgray;
    color: black;
}
.priorityclass_sticky {
    width: 60px;
    background-color: lightblue;
    color: black;
}
.priorityclass_notes {
    width: 60px;
    background-color: lightblue;
    color: black;
}

.screrror {
    padding: 15px;
    color: red;
    font-weight: bold;
}