.advmenu {
  float: right;
  font-size: x-small;
  text-align: right;
}

.mainmenu {
  font-size: small;
  display: inline;
}

.mainmenu_item {
  position: relative;
  padding-left: 10px;
  display: inline;
}

.popup {
  padding: 8px;
  position: absolute;
  top: 20px;
  z-index: 9000;
  display: none;
}

.popbuttons {
  float: right;
}

.keyinfo {
  font-size: x-small;
}

.navlist {
  list-style-image: none;
  list-style-type: none;
  list-style-position: inside;
  padding-left: 0px;
}

.maintable {
  border-collapse: collapse;
  width: 100%;
}

.editor {
}


.editor input[name="edtitle"] {
  width: 99%;
  margin-bottom: 5px;
  margin-top: 5px;
}

.editor textarea[name="edtext"] {
  width: 99%;
  display: inline;
}

.screrror {
  padding: 15px;
}

.stat_tag, .stat_total, .stat_done, .stat_timed {
  border-right: solid thin;
}

#ontosaving {
  margin-top: 2ex;
}

#ontonav_td {
  width: 15%;
}
