@font-face {
	font-family: FontAwesome;
	src: url('/fontawesome.woff');
}

.advmenu {
  float: right;
  font-size: x-small;
  text-align: right;
}

.mainmenu {
  font-size: small;
  display: inline;
}

.mainmenu_item {
  position: relative;
  padding-left: 10px;
  display: inline;
}

.popup {
  padding: 8px;
  position: absolute;
  top: 20px;
  z-index: 9000;
  display: none;
}

.popbuttons {
  float: right;
}

.keyinfo {
  font-size: x-small;
}

.navlist {
  list-style-image: none;
  list-style-type: none;
  list-style-position: inside;
  padding-left: 0px;
}

.maintable {
  border-collapse: collapse;
  width: 100%;
}

.editor {
}


.editor input[name="edtitle"] {
  width: 99%;
  margin-bottom: 5px;
  margin-top: 5px;
}

.editor textarea[name="edtext"] {
  width: 99%;
  display: inline;
}

.screrror {
  padding: 15px;
}

.stat_tag, .stat_total, .stat_done, .stat_timed {
  border-right: solid thin;
}

#ontosaving {
  margin-top: 2ex;
}

#ontonav_td {
  width: 15%;
}

#ontonav_td ul {
	padding-left: 20px;
	list-style-type: none;
}

.tree_folder {
	font-family: FontAwesome;
	white-space: nowrap;
	margin-right: 5px;
}

.tree_folder a {
	font-family: inherit;
	text-decoration: none;
}

[draggable] {
	user-select: none;
}

table.substable {
	margin-left: 30px;
	border-collapse: collapse;
}

td.substable_folder a {
	font-family: FontAwesome;
}

table.substable td {
	vertical-align: top;
}

td.substable_name {
	padding-left: 15px;
	padding-right: 10px;
}

td.substable_content {
	padding-left: 15px;
}

td.substable_content > p {
	margin-top: 5px
}

td.substable_content > table.substable {
	margin-left: -80px;
}

.substable_textarea {
	width: 100%;
	font-size: 10pt;
}

tr.selected {
	border: 2px solid red;
}