/*
   foreground: silver
   background light 1: #163A59
   background light 2: #0F304D

   foreground dark 1: #67ABE5
   foreground dark 2: #4C89BE
*/


/*
 This program is distributed under the terms of GPLv3
 Copyright 2010, Alessandro Arzilli
 */

* {
    font-family: ubuntu, sans-serif;
}

a {
    color: #4C89BE;
}

body {
    background-color: black;
    color: silver;
    font-size: 10pt;
}

.popup {
    background-color: black;
    border: thin solid white;
}

table {
    font-size: 10pt;
}

.colname {
    font-size: medium;
    font-weight: bold;
    padding-top: 10px;
}

.prchange {
    padding-top: 10px;
    font-size: large;
    font-weight: bold;
}

.entry {
    background: none repeat scroll 0 0 #163A59;
    border: 1px solid black;
}

.oddentry {
    background-color: #0F304D;
    border-color: black;
}

.entry > td {
    padding: 4px;
}

.etitle {
    width: 65%;
    font-weight: bold;
}

.etitle > pre {
    font-weight: normal;
}

.etitle > a {
    text-decoration: none;
    color: silver;
}

.prioritybutton {
    font-weight: bolder;
    font-size: xx-small;
    width: 60px;
    background-color: black;
}

.newchildbutton {
	font-weight: bolder;
	font-size: xx-small;
	width: 20px;
	background-color: black;
	color: white;
}

.substable .prioritybutton {
    width: 40px;
}

.priorityclass_NOW {
    color: #0FD400;
}
.priorityclass_LATER {
    color: yellow;
}
.priorityclass_TIMED {
    color: orange;
}
.priorityclass_DONE {
    color: lightblue;
}
.priorityclass_STICKY {
    color: lightblue;
}
.priorityclass_NOTES {
    color: lightblue;
}

.screrror {
    color: red;
    font-weight: bold;
}

.code {
    font-family: ocra10, monospace;
    -moz-font-feature-settings: "liga" 0;
    -webkit-font-feature-settings: "liga" 0;
    font-feature-settings: "liga" 0;
}

.statstable {
    margin-top: 40px;
}

.jstree a {
    color: silver;
}

.jstree-default .jstree-hovered {
    background:  #163A59;
}

.jstree-default .jstree-clicked {
    background:  #163A59;
}

.jstree-default.jstree-focused {
    background: black;
}
