/*
   foreground: silver
   background light 1: #163A59
   background light 2: #0F304D

   foreground dark 1: #67ABE5
   foreground dark 2: #4C89BE
*/


/*
 This program is distributed under the terms of GPLv3
 Copyright 2010, Alessandro Arzilli
 */

* {
    font-family: sans-serif;
}

a {
    color: #4C89BE;
}

body {
    background-color: black;
    color: silver;
    font-size: 8pt;
}

.popup {
    background-color: black;
    border: thin solid white;
}

table {
    font-size: 8pt;
}

.colname {
    font-size: normal;
    font-weight: bold;
    padding-top: 10px;
}

.prchange {
    padding-top: 10px;
    font-size: large;
    font-weight: bold;
}

.entry {
    background: none repeat scroll 0 0 #163A59;
    border: 1px solid black;
}

.oddentry {
    background-color: #0F304D;
    border-color: black;
}

.entry > td {
    padding: 4px;
}

.etitle {
    width: 65%;
    font-weight: bold;
}

.etitle > a {
    text-decoration: none;
    color: silver;
}

.prioritybutton {
    font-weight: bolder;
    font-size: xx-small;
    width: 60px; 
    background-color: black;
}

.priorityclass_now {
    color: #0FD400;
}
.priorityclass_later {
    color: yellow;
}
.priorityclass_timed {
    color: orange;
}
.priorityclass_done {
    color: lightblue;
}
.priorityclass_sticky {
    color: lightblue;
}
.priorityclass_notes {
    color: lightblue;
}

.screrror {
    color: red;
    font-weight: bold;
}
